<footer class="footer">
  <div class="container py-5">
    <div class="row g-4">
      <div class="col-lg-4">
        <h3>🎲 BoardVerse</h3>

        <p>Play board games online with your friends.</p>
      </div>

      <div class="col-6 col-lg-2">
        <h6>Games</h6>

        <a>Chess</a>
        <a>Card</a>
        <a>Strategy</a>
      </div>

      <div class="col-6 col-lg-2">
        <h6>Community</h6>

        <a>Players</a>
        <a>Events</a>
        <a>Support</a>
      </div>

      <div class="col-lg-4">
        <h6>Social</h6>

        <div class="social">
          <span>🎮</span>
          <span>💬</span>
          <span>🌐</span>
        </div>
      </div>
    </div>

    <hr />

    <p class="text-center small">© 2026 BoardVerse</p>
  </div>
</footer>
